sample1_aspnetcore_app/src/bin/Debug/net6.0/src.dll
sample1_aspnetcore_app/src/bin/Debug/net6.0/src.pdb
sample1_aspnetcore_app/src/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
sample1_aspnetcore_app/src/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
sample1_aspnetcore_app/src/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
sample1_aspnetcore_app/src/bin/Debug/net6.0/Microsoft.OpenApi.dll
sample1_aspnetcore_app/src/obj/Debug/net6.0/apphost.exe
sample1_aspnetcore_app/src/obj/Debug/net6.0/project.razor.json
sample1_aspnetcore_app/src/obj/Debug/net6.0/src.AssemblyInfo.cs
sample1_aspnetcore_app/src/obj/Debug/net6.0/src.AssemblyInfoInputs.cache
sample1_aspnetcore_app/src/obj/Debug/net6.0/src.assets.cache
sample1_aspnetcore_app/src/obj/Debug/net6.0/src.csproj.AssemblyReference.cache
sample1_aspnetcore_app/src/obj/Debug/net6.0/src.csproj.CopyComplete
sample1_aspnetcore_app/src/obj/Debug/net6.0/src.csproj.CoreCompileInputs.cache
sample1_aspnetcore_app/src/obj/Debug/net6.0/src.csproj.FileListAbsolute.txt
sample1_aspnetcore_app/src/obj/Debug/net6.0/src.dll
sample1_aspnetcore_app/src/obj/Debug/net6.0/src.GeneratedMSBuildEditorConfig.editorconfig
sample1_aspnetcore_app/src/obj/Debug/net6.0/src.genruntimeconfig.cache
sample1_aspnetcore_app/src/obj/Debug/net6.0/src.GlobalUsings.g.cs
sample1_aspnetcore_app/src/obj/Debug/net6.0/src.MvcApplicationPartsAssemblyInfo.cache
sample1_aspnetcore_app/src/obj/Debug/net6.0/src.MvcApplicationPartsAssemblyInfo.cs
sample1_aspnetcore_app/src/obj/Debug/net6.0/src.pdb
sample1_aspnetcore_app/src/obj/Debug/net6.0/staticwebassets.build.json
sample1_aspnetcore_app/src/obj/Debug/net6.0/ref/src.dll
sample1_aspnetcore_app/src/obj/Debug/net6.0/refint/src.dll
sample1_aspnetcore_app/src/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
sample1_aspnetcore_app/src/obj/staticwebassets.pack.sentinel
sample1_aspnetcore_app/src/obj/src.csproj.nuget.g.targets
sample1_aspnetcore_app/src/obj/src.csproj.nuget.g.props
sample1_aspnetcore_app/src/obj/src.csproj.nuget.dgspec.json
sample1_aspnetcore_app/src/obj/project.nuget.cache
sample1_aspnetcore_app/src/obj/project.assets.json
